#object files:
*.o

#exec.
*.out

#latex stuff
*.aux
*.log
/results/*.aux
/results/*.log

#builded simulation:
sim

#vtk:
*.vtk

#directory of pics
simulation*
 
#submitted version
group9_submit*
/.cproject
/.project
